@model Order
@{
    Order order = Model;
    IEnumerable<SelectListItem> items = ViewBag.ManagerList;
}

<!-- Modal -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <form asp-action="/Order/SaveModal" method="post">
                <div class="form-horizontal">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OrderId" value="@order.OrderId"/>
                    <div class="form-group">
                        <label asp-for="Number" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Number" class="form-control" value="@order.Number" />
                            <span asp-validation-for="Number" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShipmentDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ShipmentDate" class="form-control" value="@order.ShipmentDate"/>
                            <span asp-validation-for="ShipmentDate" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManagerId" class="col-md-2 control-label"></label>
                        <div class="col-sm-10">
                            <select class="form-control" asp-for="ManagerId" asp-items="items">items</select>
                            <span asp-validation-for="ManagerId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Note" class="form-control" value="@order.Note" />
                            <span asp-validation-for="Note" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
