@model IEnumerable<Order>

@section scripts
{
    <script src="~/js/orders.js"></script>
}

@{
    IEnumerable<Order> orders = Model;
    IEnumerable<SelectListItem> items = ViewBag.ManagerList;
    Order order = new Order();
    ViewData["Title"] = "Order Page";
}

<h1 class="lead text-info">Orders</h1>
<a class="btn btn-primary" href="/Order/Add">Add order</a>
<!--MODAL Window still in development
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#order-editor">Add modal</button>
<div class="modal fade" id="order-editor" role="dialog">
    @Html.Partial("EditPartial", order)
</div>
-->
@Html.Partial("FilterDropdown", items)

<table class="table table-hover table-bordered">
    <thead>
    <tr class="text-primary">
        <th>Number</th>
        <th>Manager</th>
        <th>Created</th>
        <th>Shiped</th>
        <th>Note</th>
        <td>Edit</td>
    </tr>
    </thead>
    <tbody id="orders">
    @Html.Partial("FilteredOrders", orders.ToList())
    </tbody>
</table>
<span class="text-success">@ViewBag.Message</span>