@model IEnumerable<Order>

@section scripts
{
    <script src="~/js/orders.js"></script>
}

@{
    IEnumerable<Order> orders = Model;
    IEnumerable<SelectListItem> items = ViewBag.ManagerList;
    ViewData["Title"] = "Order Page";
}


<h1>Orders</h1>


<a class="btn btn-primary" href="/Order/Add">Add order</a>

@Html.Partial("FilterDropdown", items)

<table class="table table-hover table-bordered">
    <thead>
        <tr class="text-primary">
            <th>Number</th>
            <th>Manager</th>
            <th>Created</th>
            <th>Shiped</th>
            <th>Note</th>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody id="orders">
        @Html.Partial("FilteredOrders", orders.ToList())
    </tbody>
</table>